{{#Word}}{{#Form Present}}
	<div class=smallimage>{{Picture}}</div>
	Infinitive: <span class="word">{{Word}}</span><br>
	Present: <span class="word important">___</span><br>
	Past: <span class="word important">___</span><br>
	Past Perfect: <span class="word important">___</span>
{{/Form Present}}{{/Word}}


---


<div class=smallimage>{{Picture}}</div>
Infinitive: <span class="word">{{Word}}</span><br>
Present: <span class="word important">{{Form Present}}</span><br>
Past: <span class="word important">{{Form Past}}</span><br>
Past Perfect: <span class="word important">{{Form Perfect Present}}</span>

{{#Pronunciation (Recording and/or IPA)}}
	<div class="pronunciation">{{Pronunciation (Recording and/or IPA)}}</div>
{{/Pronunciation (Recording and/or IPA)}}