.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
}

.word {
 font-size:1.5em;
}

.pronunciation{
 color:blue;
}

.smallimage img {
 max-width:15em;
 box-shadow: none;
}

.important {
 color:yellow;
}